#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table{ 
  font-size: 50px;
  border-collapse: collapse;
  padding: 10px;
  text-align: left;
}

.tabela, td{
  background-color: rgb(0, 0, 0)45, 192, 192);
  width: 300px;
  height: 80px;
  margin: auto;
  padding: 10px;
  cursor: pointer;
  margin-top: 80px;
  text-align: center;
}

td:hover{
  background-color: lightgray;
}
